body {
    background: #fff;
    h1, p {
        color: #000;
    }
    a {
    	color: red;
    }
    h2 {
    	color: blue;
    }
    .navlist li
    {
        display: inline;
        list-style-type: none;
        padding-right: 20px;
    }
}